section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    margin-bottom: 16px;
}

h1, h3, p {
    margin: .2rem 0;
}