.lang-switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #E4E4E4;
    margin-top: 40px;
}

.lang-switcher button {
    width: 100%;
}